
<section style="color:@color">
    <div class="fader">

    </div>
    <div id="outerRing" style="transform:translateY(@translationPx)" draggable="true" @ondrag="OnDrag" @ondragend="OnDragEnd" @ondblclick="OnDoubleClick">
        <p class="knobLabel grabbable" draggable="true"  @ondrag="OnDrag" @ondragend="OnDragEnd" @ondblclick="OnDoubleClick">@Value</p>
    </div>

</section>

@code {
    [Parameter]
    public double Value { get=> _value; set
        {
            _value = Math.Round(value,1);
            CalculateColor();
            CalculatePosition();
            StateHasChanged();
        }
    }
    private double _value;
    private string color { get; set; }
    private double translation;
    private string translationPx => $"{translation}px";
 
    private void CalculatePosition(){
        var abs = Value + 60;
        var percent = abs / 72;
        translation = (percent * -190) - 60;
    }
    private void CalculateColor(){
        color = Value > 0 ? "#f8634d" : "#70c399";
    }
    private void OnDrag(DragEventArgs e)
    {
    }
    private void OnDragEnd(DragEventArgs e)
    {
    }
    private void OnDoubleClick(MouseEventArgs e)
    {
        Value = 0;
    }
}
