@* <div id="fader_0" class="fader_section">
    <h6>Stereo Input @Number</h6>
    <p>Select Input Device</p>
    <div id="fader_Settings_@Number" class="fader_settings_section">
        <div class="hstack">
            <div style="margin-left: auto;">
                <ToggleButton Text="EQ" Value="false" />
            </div>

        </div>
        <div class="hstack">
            <div>
                <p>Comp.</p>
                <Knob Value="0" />
            </div>
            <div>
                <p>Gate</p>
                <Knob Value="0" />
            </div>
            <div>
                <p>Denoise</p>
                <Knob Value="0" />
            </div>
        </div>
        <div class="hstack">
            <p>Reverb</p>
            <p style="font-size:12px;">SPECIAL FX</p>
            <p>Delay</p>
        </div>
        <div class="hstack">
            <ToggleButton Text="Post" Value="false" />

            <Knob Value="0" />
            <Knob Value="0" />

            <ToggleButton Text="Post" Value="false" />
        </div>
        <div class="hstack">
            <p>Send 1</p>
            <p style="font-size:12px;">External FX</p>
            <p>Send 2</p>
        </div>
        <div class="hstack">
            <ToggleButton Text="Post" Value="false" />

            <Knob Value="0" />
            <Knob Value="0" />

            <ToggleButton Text="Post" Value="false" />
        </div>
        <div class="hstack">
            <Fader Value="-60" />
            <div style="width:45px;">
                <ToggleButton Text="A1" />
                <ToggleButton Text="A2" />
                <ToggleButton Text="A3" />
                <ToggleButton Text="A4" />
                <ToggleButton Text="A5" />
                <ToggleButton Text="B1" />
                <ToggleButton Text="B2" />
                <ToggleButton Text="B3" />
                <ToggleButton Text="mono" />
                <ToggleButton Text="solo" />
                <ToggleButton Text="Mute" />
            </div>
        </div>


    </div>
</div>


@code {
    [Parameter]
    public int Number { get; set; }
}
 *@