

<div id="VoiceMeeterRemote" class="hstack">
    @*  <HardwareInputPanel Number="1"/>
  <HardwareInputPanel Number="2"/>
  <HardwareInputPanel Number="3"/>
  <HardwareInputPanel Number="4"/>
  <HardwareInputPanel Number="5"/>
 *@
</div>

